// Here you can import all the scss you need
@import 'components/_module1';
@import 'components/admin-style';

body {
	font-family: 'DM Serif Display';
	color: $primary-color;

	
	a {
		color: $link-color;
		text-decoration: underline;
	}

}


